<?xml version="1.0" encoding="utf-8"?>
<ApplicationSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DataTypes />
  <Packages>
    <Package>
      <Children>
        <Hierarchy xsi:type="Package">
          <Children>
            <Hierarchy xsi:type="Package">
              <Children>
                <Hierarchy xsi:type="Package">
                  <Children />
                  <Enabled>true</Enabled>
                  <HierarchyType>Item</HierarchyType>
                  <Id>cfcb7ada-0e0e-4bcd-a4ae-3fe56d279b7d</Id>
                  <Name>Default Repository ( C# )</Name>
                  <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
                  <Selected>false</Selected>
                  <Templates>
                    <Template>
                      <Children />
                      <Enabled>true</Enabled>
                      <HierarchyType>Item</HierarchyType>
                      <Id>99d48be6-6570-465d-bc29-0793ea47233f</Id>
                      <Name>Default Context ( C# )</Name>
                      <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
                      <Selected>false</Selected>
                      <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4430</DataType>
                      <DefaultSettings />
                      <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
                      <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
                      <TemplatePath>ContextGenerator.ttInclude</TemplatePath>
                      <Version>1</Version>
                    </Template>
                    <Template>
                      <Children />
                      <Enabled>true</Enabled>
                      <HierarchyType>Item</HierarchyType>
                      <Id>07bc3131-eb4d-490b-8b5f-a68a657ef688</Id>
                      <Name>Default Mapping ( C# )</Name>
                      <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
                      <Selected>false</Selected>
                      <DataType>361ac82c-8f2a-4d7c-b455-ae5effba9d4a</DataType>
                      <DefaultSettings />
                      <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
                      <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
                      <TemplatePath>MappingGenerator.ttInclude</TemplatePath>
                      <Version>1</Version>
                    </Template>
                    <Template>
                      <Children />
                      <Enabled>true</Enabled>
                      <HierarchyType>Item</HierarchyType>
                      <Id>1bc1b0c4-1e41-9146-82cf-599181ce4440</Id>
                      <Name>Default Entity ( C# )</Name>
                      <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
                      <Selected>false</Selected>
                      <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4440</DataType>
                      <DefaultSettings />
                      <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
                      <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
                      <TemplatePath>EntityGenerator.ttInclude</TemplatePath>
                      <Version>1</Version>
                    </Template>
                    <Template>
                      <Children />
                      <Enabled>true</Enabled>
                      <HierarchyType>Item</HierarchyType>
                      <Id>bad391c6-e8a8-45f5-b3ec-f5d57d6a6b90</Id>
                      <Name>Default Repository Interface ( C# )</Name>
                      <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
                      <Selected>false</Selected>
                      <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4451</DataType>
                      <DefaultSettings />
                      <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
                      <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
                      <TemplatePath>RepoInterfaceGenerator.ttInclude</TemplatePath>
                      <Version>1</Version>
                    </Template>
                    <Template>
                      <Children />
                      <Enabled>true</Enabled>
                      <HierarchyType>Item</HierarchyType>
                      <Id>3ab0816d-5ad5-4990-a655-a14a743e416c</Id>
                      <Name>Default Repository ( C# )</Name>
                      <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
                      <Selected>false</Selected>
                      <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4450</DataType>
                      <DefaultSettings />
                      <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
                      <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
                      <TemplatePath>RepositoryGenerator.ttInclude</TemplatePath>
                      <Version>1</Version>
                    </Template>
                  </Templates>
                  <Version>1</Version>
                </Hierarchy>
              </Children>
              <Enabled>true</Enabled>
              <HierarchyType>Group</HierarchyType>
              <Id>9777af5c-429a-4297-b6da-853b6b4a4b90</Id>
              <Name>Repository</Name>
              <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
              <Selected>false</Selected>
              <Templates />
              <Version>0</Version>
            </Hierarchy>
            <Hierarchy xsi:type="Package">
              <Children>
                <Hierarchy xsi:type="Package">
                  <Children />
                  <Enabled>true</Enabled>
                  <HierarchyType>Item</HierarchyType>
                  <Id>b459fac5-61a2-43b2-b826-a09c0879559e</Id>
                  <Name>Default Domain Driven ( C# )</Name>
                  <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
                  <Selected>false</Selected>
                  <Templates>
                    <Template>
                      <Children />
                      <Enabled>true</Enabled>
                      <HierarchyType>Item</HierarchyType>
                      <Id>99d48be6-6570-465d-bc29-0793ea47233f</Id>
                      <Name>Default Context ( C# )</Name>
                      <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
                      <Selected>false</Selected>
                      <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4430</DataType>
                      <DefaultSettings />
                      <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
                      <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
                      <TemplatePath>ContextGenerator.ttInclude</TemplatePath>
                      <Version>1</Version>
                    </Template>
                    <Template>
                      <Children />
                      <Enabled>true</Enabled>
                      <HierarchyType>Item</HierarchyType>
                      <Id>07bc3131-eb4d-490b-8b5f-a68a657ef688</Id>
                      <Name>Default Mapping ( C# )</Name>
                      <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
                      <Selected>false</Selected>
                      <DataType>361ac82c-8f2a-4d7c-b455-ae5effba9d4a</DataType>
                      <DefaultSettings />
                      <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
                      <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
                      <TemplatePath>MappingGenerator.ttInclude</TemplatePath>
                      <Version>1</Version>
                    </Template>
                    <Template>
                      <Children />
                      <Enabled>true</Enabled>
                      <HierarchyType>Item</HierarchyType>
                      <Id>1bc1b0c4-1e41-9146-82cf-599181ce4440</Id>
                      <Name>Default Entity ( C# )</Name>
                      <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
                      <Selected>false</Selected>
                      <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4440</DataType>
                      <DefaultSettings />
                      <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
                      <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
                      <TemplatePath>EntityGenerator.ttInclude</TemplatePath>
                      <Version>1</Version>
                    </Template>
                    <Template>
                      <Children />
                      <Enabled>true</Enabled>
                      <HierarchyType>Item</HierarchyType>
                      <Id>bad391c6-e8a8-45f5-b3ec-f5d57d6a6b90</Id>
                      <Name>Default Repository Interface ( C# )</Name>
                      <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
                      <Selected>false</Selected>
                      <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4451</DataType>
                      <DefaultSettings />
                      <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
                      <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
                      <TemplatePath>RepoInterfaceGenerator.ttInclude</TemplatePath>
                      <Version>1</Version>
                    </Template>
                    <Template>
                      <Children />
                      <Enabled>true</Enabled>
                      <HierarchyType>Item</HierarchyType>
                      <Id>3ab0816d-5ad5-4990-a655-a14a743e416c</Id>
                      <Name>Default Repository ( C# )</Name>
                      <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
                      <Selected>false</Selected>
                      <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4450</DataType>
                      <DefaultSettings />
                      <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
                      <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
                      <TemplatePath>RepositoryGenerator.ttInclude</TemplatePath>
                      <Version>1</Version>
                    </Template>
                    <Template>
                      <Children />
                      <Enabled>true</Enabled>
                      <HierarchyType>Item</HierarchyType>
                      <Id>f41c4006-d9d1-499b-80be-bbbbc4cb0001</Id>
                      <Name>Default Application Service ( C# )</Name>
                      <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
                      <Selected>false</Selected>
                      <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4420</DataType>
                      <DefaultSettings />
                      <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
                      <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
                      <TemplatePath>ApplicationService.T4</TemplatePath>
                      <Version>1</Version>
                    </Template>
                    <Template>
                      <Children />
                      <Enabled>true</Enabled>
                      <HierarchyType>Item</HierarchyType>
                      <Id>a3e5f98c-ac76-40fd-9896-1a3d19dabefe</Id>
                      <Name>Default Dto Interface ( C# )</Name>
                      <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
                      <Selected>false</Selected>
                      <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4441</DataType>
                      <DefaultSettings />
                      <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
                      <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
                      <TemplatePath>DtoInterfaceGenerator.ttInclude</TemplatePath>
                      <Version>1</Version>
                    </Template>
                    <Template>
                      <Children />
                      <Enabled>true</Enabled>
                      <HierarchyType>Item</HierarchyType>
                      <Id>a832889d-7f9a-42fa-ad6b-38d184828dba</Id>
                      <Name>Default Dto ( C# )</Name>
                      <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
                      <Selected>false</Selected>
                      <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4490</DataType>
                      <DefaultSettings />
                      <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
                      <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
                      <TemplatePath>DtoGenerator.ttInclude</TemplatePath>
                      <Version>1</Version>
                    </Template>
                    <Template>
                      <Children />
                      <Enabled>true</Enabled>
                      <HierarchyType>Item</HierarchyType>
                      <Id>e3027c90-4a8f-4d56-93b8-95df90e9cc44</Id>
                      <Name>Default Structure Map</Name>
                      <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
                      <Selected>false</Selected>
                      <DataType>cb2445e3-5f8d-4bec-addc-0d1430e15caa</DataType>
                      <DefaultSettings />
                      <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
                      <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
                      <TemplatePath>ContextRegistrationGenerator.ttInclude</TemplatePath>
                      <Version>1</Version>
                    </Template>
                  </Templates>
                  <Version>1</Version>
                </Hierarchy>
              </Children>
              <Enabled>true</Enabled>
              <HierarchyType>Group</HierarchyType>
              <Id>e254d8e2-3165-47c4-b5c5-a9bc6e31bb36</Id>
              <Name>Domain Driven</Name>
              <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
              <Selected>false</Selected>
              <Templates />
              <Version>1</Version>
            </Hierarchy>
          </Children>
          <Enabled>true</Enabled>
          <HierarchyType>Group</HierarchyType>
          <Id>8c9f472c-19a0-498c-a169-8b8cab34c908</Id>
          <Name>Data</Name>
          <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
          <Selected>false</Selected>
          <Templates />
          <Version>0</Version>
        </Hierarchy>
        <Hierarchy xsi:type="Package">
          <Children>
            <Hierarchy xsi:type="Package">
              <Children />
              <Enabled>true</Enabled>
              <HierarchyType>Group</HierarchyType>
              <Id>f379eb70-e9ec-4468-bec2-00d7d7f1eaf7</Id>
              <Name>Angular</Name>
              <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
              <Selected>false</Selected>
              <Templates />
              <Version>1</Version>
            </Hierarchy>
            <Hierarchy xsi:type="Package">
              <Children />
              <Enabled>true</Enabled>
              <HierarchyType>Group</HierarchyType>
              <Id>77c86354-4a92-48e5-8e2c-2fbe2ea2d0d0</Id>
              <Name>MVC</Name>
              <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
              <Selected>false</Selected>
              <Templates />
              <Version>1</Version>
            </Hierarchy>
          </Children>
          <Enabled>true</Enabled>
          <HierarchyType>Group</HierarchyType>
          <Id>8c9f472c-19a0-498c-a169-8b8cab34c908</Id>
          <Name>Presentation</Name>
          <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
          <Selected>false</Selected>
          <Templates />
          <Version>0</Version>
        </Hierarchy>
      </Children>
      <Enabled>true</Enabled>
      <HierarchyType>Group</HierarchyType>
      <Id>68ad1db2-843c-4a64-90b6-df467dca4399</Id>
      <Name>Packages</Name>
      <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
      <Selected>false</Selected>
      <Templates />
      <Version>0</Version>
    </Package>
  </Packages>
  <Templates>
    <Template>
      <Children>
        <Hierarchy xsi:type="Template">
          <Children>
            <Hierarchy xsi:type="Template">
              <Children />
              <Enabled>true</Enabled>
              <HierarchyType>Item</HierarchyType>
              <Id>f41c4006-d9d1-499b-80be-bbbbc4cb0001</Id>
              <Name>Default Application Service ( C# )</Name>
              <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
              <Selected>false</Selected>
              <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4420</DataType>
              <DefaultSettings />
              <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
              <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
              <TemplatePath>ApplicationService.T4</TemplatePath>
              <Version>1</Version>
            </Hierarchy>
          </Children>
          <Enabled>true</Enabled>
          <HierarchyType>Group</HierarchyType>
          <Id>1bc1b0c4-1e41-9146-82cf-599181ce4420</Id>
          <Name>Application Service</Name>
          <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
          <Selected>false</Selected>
          <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4420</DataType>
          <DefaultSettings />
          <GeneratorTypeId>00000000-0000-0000-0000-000000000000</GeneratorTypeId>
          <LanguageOutputId>00000000-0000-0000-0000-000000000000</LanguageOutputId>
          <TemplatePath />
          <Version>1</Version>
        </Hierarchy>
        <Hierarchy xsi:type="Template">
          <Children>
            <Hierarchy xsi:type="Template">
              <Children />
              <Enabled>true</Enabled>
              <HierarchyType>Item</HierarchyType>
              <Id>99d48be6-6570-465d-bc29-0793ea47233f</Id>
              <Name>Default Context ( C# )</Name>
              <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
              <Selected>false</Selected>
              <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4430</DataType>
              <DefaultSettings />
              <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
              <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
              <TemplatePath>ContextGenerator.ttInclude</TemplatePath>
              <Version>1</Version>
            </Hierarchy>
          </Children>
          <Enabled>true</Enabled>
          <HierarchyType>Group</HierarchyType>
          <Id>1bc1b0c4-1e41-9146-82cf-599181ce4430</Id>
          <Name>Context</Name>
          <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
          <Selected>false</Selected>
          <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4430</DataType>
          <DefaultSettings />
          <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
          <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
          <TemplatePath>Bogus.T4</TemplatePath>
          <Version>1</Version>
        </Hierarchy>
        <Hierarchy xsi:type="Template">
          <Children>
            <Hierarchy xsi:type="Template">
              <Children />
              <Enabled>true</Enabled>
              <HierarchyType>Item</HierarchyType>
              <Id>a832889d-7f9a-42fa-ad6b-38d184828dba</Id>
              <Name>Default Dto ( C# )</Name>
              <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
              <Selected>false</Selected>
              <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4490</DataType>
              <DefaultSettings />
              <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
              <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
              <TemplatePath>DtoGenerator.ttInclude</TemplatePath>
              <Version>1</Version>
            </Hierarchy>
          </Children>
          <Enabled>true</Enabled>
          <HierarchyType>Group</HierarchyType>
          <Id>1bc1b0c4-1e41-9146-82cf-599181ce4490</Id>
          <Name>Dto</Name>
          <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
          <Selected>false</Selected>
          <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4490</DataType>
          <DefaultSettings />
          <GeneratorTypeId>00000000-0000-0000-0000-000000000000</GeneratorTypeId>
          <LanguageOutputId>00000000-0000-0000-0000-000000000000</LanguageOutputId>
          <TemplatePath />
          <Version>1</Version>
        </Hierarchy>
        <Hierarchy xsi:type="Template">
          <Children>
            <Hierarchy xsi:type="Template">
              <Children />
              <Enabled>true</Enabled>
              <HierarchyType>Item</HierarchyType>
              <Id>a3e5f98c-ac76-40fd-9896-1a3d19dabefe</Id>
              <Name>Default Dto Interface ( C# )</Name>
              <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
              <Selected>false</Selected>
              <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4441</DataType>
              <DefaultSettings />
              <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
              <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
              <TemplatePath>DtoInterfaceGenerator.ttInclude</TemplatePath>
              <Version>1</Version>
            </Hierarchy>
          </Children>
          <Enabled>true</Enabled>
          <HierarchyType>Group</HierarchyType>
          <Id>1bc1b0c4-1e41-9146-82cf-599181ce4441</Id>
          <Name>Dto Interface</Name>
          <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
          <Selected>false</Selected>
          <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4441</DataType>
          <DefaultSettings />
          <GeneratorTypeId>00000000-0000-0000-0000-000000000000</GeneratorTypeId>
          <LanguageOutputId>00000000-0000-0000-0000-000000000000</LanguageOutputId>
          <TemplatePath />
          <Version>1</Version>
        </Hierarchy>
        <Hierarchy xsi:type="Template">
          <Children>
            <Hierarchy xsi:type="Template">
              <Children />
              <Enabled>true</Enabled>
              <HierarchyType>Item</HierarchyType>
              <Id>1bc1b0c4-1e41-9146-82cf-599181ce4440</Id>
              <Name>Default Entity ( C# )</Name>
              <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
              <Selected>false</Selected>
              <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4440</DataType>
              <DefaultSettings />
              <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
              <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
              <TemplatePath>EntityGenerator.ttInclude</TemplatePath>
              <Version>1</Version>
            </Hierarchy>
          </Children>
          <Enabled>true</Enabled>
          <HierarchyType>Group</HierarchyType>
          <Id>1bc1b0c4-1e41-9146-82cf-599181ce4440</Id>
          <Name>Entity</Name>
          <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
          <Selected>false</Selected>
          <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4440</DataType>
          <DefaultSettings />
          <GeneratorTypeId>838ec2ba-82cd-4a8b-af5f-7f4ea9c6ae8b</GeneratorTypeId>
          <LanguageOutputId>9c53a947-ff72-4375-89e7-c384fc378d4a</LanguageOutputId>
          <TemplatePath>Bogus.T4</TemplatePath>
          <Version>1</Version>
        </Hierarchy>
        <Hierarchy xsi:type="Template">
          <Children>
            <Hierarchy xsi:type="Template">
              <Children />
              <Enabled>true</Enabled>
              <HierarchyType>Item</HierarchyType>
              <Id>07bc3131-eb4d-490b-8b5f-a68a657ef688</Id>
              <Name>Default Mapping ( C# )</Name>
              <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
              <Selected>false</Selected>
              <DataType>361ac82c-8f2a-4d7c-b455-ae5effba9d4a</DataType>
              <DefaultSettings />
              <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
              <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
              <TemplatePath>MappingGenerator.ttInclude</TemplatePath>
              <Version>1</Version>
            </Hierarchy>
          </Children>
          <Enabled>true</Enabled>
          <HierarchyType>Group</HierarchyType>
          <Id>361ac82c-8f2a-4d7c-b455-ae5effba9d4a</Id>
          <Name>Mapping</Name>
          <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
          <Selected>false</Selected>
          <DataType>361ac82c-8f2a-4d7c-b455-ae5effba9d4a</DataType>
          <DefaultSettings />
          <GeneratorTypeId>00000000-0000-0000-0000-000000000000</GeneratorTypeId>
          <LanguageOutputId>00000000-0000-0000-0000-000000000000</LanguageOutputId>
          <TemplatePath />
          <Version>1</Version>
        </Hierarchy>
        <Hierarchy xsi:type="Template">
          <Children>
            <Hierarchy xsi:type="Template">
              <Children />
              <Enabled>true</Enabled>
              <HierarchyType>Item</HierarchyType>
              <Id>3ab0816d-5ad5-4990-a655-a14a743e416c</Id>
              <Name>Default Repository ( C# )</Name>
              <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
              <Selected>false</Selected>
              <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4450</DataType>
              <DefaultSettings />
              <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
              <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
              <TemplatePath>RepositoryGenerator.ttInclude</TemplatePath>
              <Version>1</Version>
            </Hierarchy>
          </Children>
          <Enabled>true</Enabled>
          <HierarchyType>Group</HierarchyType>
          <Id>1bc1b0c4-1e41-9146-82cf-599181ce4450</Id>
          <Name>Repository</Name>
          <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
          <Selected>false</Selected>
          <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4450</DataType>
          <DefaultSettings />
          <GeneratorTypeId>00000000-0000-0000-0000-000000000000</GeneratorTypeId>
          <LanguageOutputId>00000000-0000-0000-0000-000000000000</LanguageOutputId>
          <TemplatePath />
          <Version>1</Version>
        </Hierarchy>
        <Hierarchy xsi:type="Template">
          <Children>
            <Hierarchy xsi:type="Template">
              <Children />
              <Enabled>true</Enabled>
              <HierarchyType>Item</HierarchyType>
              <Id>bad391c6-e8a8-45f5-b3ec-f5d57d6a6b90</Id>
              <Name>Default Repository Interface ( C# )</Name>
              <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
              <Selected>false</Selected>
              <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4451</DataType>
              <DefaultSettings />
              <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
              <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
              <TemplatePath>RepoInterfaceGenerator.ttInclude</TemplatePath>
              <Version>1</Version>
            </Hierarchy>
          </Children>
          <Enabled>true</Enabled>
          <HierarchyType>Group</HierarchyType>
          <Id>1bc1b0c4-1e41-9146-82cf-599181ce4451</Id>
          <Name>Repository Interface</Name>
          <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
          <Selected>false</Selected>
          <DataType>1bc1b0c4-1e41-9146-82cf-599181ce4451</DataType>
          <DefaultSettings />
          <GeneratorTypeId>00000000-0000-0000-0000-000000000000</GeneratorTypeId>
          <LanguageOutputId>00000000-0000-0000-0000-000000000000</LanguageOutputId>
          <TemplatePath />
          <Version>1</Version>
        </Hierarchy>
        <Hierarchy xsi:type="Template">
          <Children>
            <Hierarchy xsi:type="Template">
              <Children />
              <Enabled>true</Enabled>
              <HierarchyType>Item</HierarchyType>
              <Id>e3027c90-4a8f-4d56-93b8-95df90e9cc44</Id>
              <Name>Default Structure Map</Name>
              <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
              <Selected>false</Selected>
              <DataType>cb2445e3-5f8d-4bec-addc-0d1430e15caa</DataType>
              <DefaultSettings />
              <GeneratorTypeId>1bc1b0c4-1e41-9146-82cf-599181ce4410</GeneratorTypeId>
              <LanguageOutputId>1bc1b0c4-1e41-9146-82cf-599181ce4410</LanguageOutputId>
              <TemplatePath>ContextRegistrationGenerator.ttInclude</TemplatePath>
              <Version>1</Version>
            </Hierarchy>
          </Children>
          <Enabled>true</Enabled>
          <HierarchyType>Group</HierarchyType>
          <Id>cb2445e3-5f8d-4bec-addc-0d1430e15caa</Id>
          <Name>Structure Map</Name>
          <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
          <Selected>false</Selected>
          <DataType>cb2445e3-5f8d-4bec-addc-0d1430e15caa</DataType>
          <DefaultSettings />
          <GeneratorTypeId>00000000-0000-0000-0000-000000000000</GeneratorTypeId>
          <LanguageOutputId>00000000-0000-0000-0000-000000000000</LanguageOutputId>
          <Version>1</Version>
        </Hierarchy>
      </Children>
      <Enabled>true</Enabled>
      <HierarchyType>Group</HierarchyType>
      <Id>c0c18812-5969-49ef-b37b-1b596eb7da95</Id>
      <Name>Templates</Name>
      <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
      <Selected>false</Selected>
      <DataType>00000000-0000-0000-0000-000000000000</DataType>
      <DefaultSettings />
      <GeneratorTypeId>c0863551-adcb-4df0-8052-7518d2dd9841</GeneratorTypeId>
      <LanguageOutputId>9c8a4888-4fe3-44b9-be62-adc19fb20858</LanguageOutputId>
      <TemplatePath>Bogus.T4</TemplatePath>
      <Version>1</Version>
    </Template>
  </Templates>
</ApplicationSettings>