<?xml version="1.0" encoding="utf-8"?>
<ApplicationSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Templates>
    <Template>
      <Children>
        <Hierarchy xsi:type="Template">
          <Children>
            <Hierarchy xsi:type="Template">
              <Children />
              <Enabled>false</Enabled>
              <Id>99d48be6-6570-465d-bc29-0793ea47233f</Id>
              <Name>Entity Framework Context (v6)</Name>
              <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
              <HierarchyType>Item</HierarchyType>
              <ConfigLocation>Data</ConfigLocation>
              <DataType>
                <Id>2a7353aa-a54a-442e-a710-f30836a0d4b2</Id>
                <Name>Test</Name>
              </DataType>
              <DefaultSettings />
              <GeneratorTypeId>03a23cb2-c4a4-40f0-b328-20402540a016</GeneratorTypeId>
              <LanguageOutputId>28f970f7-ee21-423f-a425-642e721a09f8</LanguageOutputId>
              <TemplatePath>Bogus.T4</TemplatePath>
              <Version>1</Version>
            </Hierarchy>
          </Children>
          <Enabled>false</Enabled>
          <Id>9e2d62f2-b861-4b13-b27d-54d74ecaad48</Id>
          <Name>Context</Name>
          <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
          <HierarchyType>Group</HierarchyType>
          <ConfigLocation>Data</ConfigLocation>
          <DataType>
            <Id>69c09953-f913-4f04-aa70-bcc600bbe861</Id>
            <Name>Test</Name>
          </DataType>
          <DefaultSettings />
          <GeneratorTypeId>5dc06c70-393d-445a-a276-742c702f38de</GeneratorTypeId>
          <LanguageOutputId>40a9c08d-fe7a-4635-ada3-daa003230f85</LanguageOutputId>
          <TemplatePath>Bogus.T4</TemplatePath>
          <Version>1</Version>
        </Hierarchy>
        <Hierarchy xsi:type="Template">
          <Children>
            <Hierarchy xsi:type="Template">
              <Children />
              <Enabled>false</Enabled>
              <Id>63cde985-20c1-4c6f-8f05-ac941de202f5</Id>
              <Name>Entity Framework Entity (v6)</Name>
              <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
              <HierarchyType>Item</HierarchyType>
              <ConfigLocation>Data</ConfigLocation>
              <DataType>
                <Id>17f8813a-ef3c-48c3-82bf-5e8937044550</Id>
                <Name>Test</Name>
              </DataType>
              <DefaultSettings />
              <GeneratorTypeId>1f4b5eb3-9592-4683-a43a-f78c5fbde046</GeneratorTypeId>
              <LanguageOutputId>33168a1c-239e-454d-9742-a02c6acfa08f</LanguageOutputId>
              <TemplatePath>Bogus.T4</TemplatePath>
              <Version>1</Version>
            </Hierarchy>
          </Children>
          <Enabled>false</Enabled>
          <Id>c294b09a-d0de-47c9-b511-a80fe418aa37</Id>
          <Name>Entity</Name>
          <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
          <HierarchyType>Group</HierarchyType>
          <ConfigLocation>Data</ConfigLocation>
          <DataType>
            <Id>d3509f07-8742-4d06-a973-f1e4871c5ff0</Id>
            <Name>Test</Name>
          </DataType>
          <DefaultSettings />
          <GeneratorTypeId>838ec2ba-82cd-4a8b-af5f-7f4ea9c6ae8b</GeneratorTypeId>
          <LanguageOutputId>9c53a947-ff72-4375-89e7-c384fc378d4a</LanguageOutputId>
          <TemplatePath>Bogus.T4</TemplatePath>
          <Version>1</Version>
        </Hierarchy>
      </Children>
      <Enabled>false</Enabled>
      <Id>c0c18812-5969-49ef-b37b-1b596eb7da95</Id>
      <Name>Templates</Name>
      <ParentId>00000000-0000-0000-0000-000000000000</ParentId>
      <HierarchyType>Group</HierarchyType>
      <ConfigLocation>Data</ConfigLocation>
      <DataType>
        <Id>fe84837e-e373-4ddd-8e43-d014695ef074</Id>
        <Name>Test</Name>
      </DataType>
      <DefaultSettings />
      <GeneratorTypeId>c0863551-adcb-4df0-8052-7518d2dd9841</GeneratorTypeId>
      <LanguageOutputId>9c8a4888-4fe3-44b9-be62-adc19fb20858</LanguageOutputId>
      <TemplatePath>Bogus.T4</TemplatePath>
      <Version>1</Version>
    </Template>
  </Templates>
  <DataTypes />
</ApplicationSettings>