<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <variable name="logDirectory" value="${basedir}/Logs" />
  <extensions>
  </extensions>

  <targets>
    <target name="rollingFile"
                xsi:type="File"
                layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger} ${message} ${exception:format=tostring}"
                fileName="${basedir}/Logs/log.txt"
                archiveFileName="${basedir}/Logs/log.{#}.txt"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="7"
                concurrentWrites="true"
                createDirs="true"
                autoFlush="true" />

    <target xsi:type="ColoredConsole"
            name="console"
            layout="${time} ${level:uppercase=true:padding=1:fixedLength=true} ${logger:shortName=true} ${message} ${exception:format=tostring}"/>

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console,rollingFile" />
    <!--<logger name="*" minlevel="Debug" writeTo="mongoDefault, console" />-->
    <!--<logger name="*" minlevel="Trace" writeTo="console" />-->
    <!--<logger name="*" minlevel="Trace" writeTo="rollingFile" />-->
    <logger name="*" minlevel="Error" writeTo="console,rollingFile" />
  </rules>
</nlog>